 body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(135deg, #6c5ce7, #81ecec) no-repeat;
            color: #2d3436;
            background-attachment: fixed;
            transition: background 0.5s; /* Smooth background color transition */
        }
        header {
            background-color: #6c5ce7;
            color: white;
            padding: 20px 0;
            text-align: center;
            transition: background-color 0.5s; /* Smooth background color transition */
            display: flex;
            justify-content: center;
        }
        header h1 {
            font-size: 2.5rem;
            color: #fff; /* White text for good contrast */
        }
        .container {
            padding: 50px;
            margin: auto;
            width: 60%;

        }
        .characterRow {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .character {
            border: solid;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            overflow: hidden;
            cursor: pointer;
            flex: 1;
            margin: 0 10px;
            transition: transform 0.3s;
        }
        .character img {
            width: 100%;
        }
        .character-content {
            padding: 20px;
        }
        .character-content h3 {
            margin-top: 0;
            color: #2d3436; /* Dark color for good readability */
            font-size: 1.5rem;
        }
        .character-content p {
            color: #636e72; /* Lighter color for text */
            font-size: 1rem;
        }
        h3, p {
            text-align: center;
        }
        footer {
            background-color: #6c5ce7;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
            transition: background-color 0.5s; 
        }
        footer p {
            margin: 0;
        }
        .character:hover {
            transform: scale(1.05);
        }
        .hidden {
            opacity: 0; 
            transform: scale(1.05);
        }

        .selected-character {
            display: none;
            text-align: center;
            margin-top: 30px;
            width: auto;
        }

        .selected-character img {
            width: 40%;
            height: auto;
            border-radius: 10px;
            animation: fadeIn 1s ease-out;
            height: 40%;

        }

        .selected-character-content {
            margin-top: 20px;
            }

        @keyframes fadeIn {
            from { opacity: 0; transform: scale(0.95); }
            to { opacity: 1; transform: scale(1); }
            }
        @media (min-resolution: 120dpi) and (max-resolution: 200dpi) {

        body, .character-content h3, .character-content p {
            font-size: 90%;
        }
    }

        @media (min-resolution: 200dpi) and (max-resolution: 300dpi) {
        body, .character-content h3, .character-content p {
            font-size: 80%;
        }
    }

        @media (min-resolution: 300dpi) {
        body, .character-content h3, .character-content p {
            font-size: 70%;
        }
    }
